<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.username %></strong>
    <i><%= l(message.created_at, format: :default_long) %></i>
  </small>
  <p><%= message.content %></p>
</div>
