.mobile-container {
  width: 360px;
  margin: auto;

  & img {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.card-game {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  margin: 8px;
  padding: 8px;
  border-radius: 5px;
  background-color: white;
}

.card-game-actions {
  display: flex;
  margin: auto;

  & a {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 4px;
  }
}

.card-game-estimation {

}

.card-game-infos {
  display: flex;
  flex-direction: row;
  padding-bottom: 4px;
}

.card-game-infos-img {
  padding-right: 4px;

  & img {
    width: 100px;
  }
}

.card-game-infos-tags {
  & p {
    margin: 0;
  }
}

.card-offer-infos {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  margin: 8px;
  padding: 8px;
  border-radius: 5px;
  background-color: white;

  & p {
    margin: 0;
  }
}

.link-dark {
    text-decoration: black;
    color: dark;

  }
