.mobile-container {
  width: 360px;
  margin: auto;
}

.decoration-none {
  text-decoration: none;
}

.card-chat {
  background-color: white;
  height: 300px;
  border: 1px solid;
  padding: 8px;
  border-radius: 5px;
  overflow-y: scroll;
}

.card-game {
  display: flex;
  flex-direction: row;
  margin: 16px 0px;
  border-radius: 5px;
  background-color: rgba(256, 256, 256, 1);
}

.card-game-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  & i {
    color: black;
  }

  & i:hover {
    color: red;
  }
}

.card-game-infos {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 8px;
  justify-content: space-between;
}

.card-game-info-actions {
  display: flex;
  justify-content: space-evenly;

  & i {
    text-decoration: none;
    color: black;
  }

  & i:hover {
    color: red;
  }
}

.card-game-infos-img {
  & img {
    width: 150px;
    border-radius: 5px;
  }
}

.card-game-infos-img1 {
  margin: auto;
  & img {
    width: 150px;
    height: 200px;
    margin-bottom: 2px;
  }
}

.card-game-infos-tags {
  & p {
    margin: 0px;
  }
  & i {
    margin-top: 9px;
    color: red;
  }
}

.card-game-offer-new {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-top: -6px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: rgba(256, 256, 256, 1);
}

.card-generic {
  margin-bottom: 8px;
  border-radius: 5px;
  background-color: rgba(256, 256, 256, 1);
  padding: 8px;

  & h3 {
    margin: 0;
  }
}

.card-offer {
  background-color: rgba(256, 256, 256, 1);
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 5px;
}

.card-offer-infos {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 5px;
  background-color: rgba(256, 256, 256, 1);

  & p {
    margin: 0;
  }

  & a {
    text-decoration: none;
    color: black;
  }

  & a:hover {
    color: red;
  }
}

.card-offer-infos-img {
  & img {
    width: 150px;
    border-radius: 5px;
  }
}

.link-dark {
  text-decoration: black;
  color: dark;
}

body {
  background-image: url("1.jpg");
  background-repeat: repeat-y;
  background-position: top;
  background-position-x: center;
}

.ex3 {
  background-origin: border-box;
  background-position: top right;
}

// .card-logo-heart {
//   display: flex;
//   margin-left: 320px;
//   margin-bottom: 156px;
//   margin-top: -197px;
//   color: red;
//   transition: 2s ease;
// }

// .card-logo-heart:hover {
//   display: flex;
//   margin-left: 320px;
//   margin-bottom: 156px;
//   margin-top: -197px;
//   color: red;
//   filter: none;
//   transition: 2s ease;
// }

.card-button {
  display: flex;
  // margin: auto;
  justify-content: right;
}

.wrapper-row-spacebtw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
